<app-loader></app-loader>
<app-navigation></app-navigation>
<div class="pc-container">
  <div class="pc-content">
    <div class="row">
      <div class="col-xl-3 col-md-12">
        <div class="card proj-t-card card-border-danger">
          <div class="card-body">
            <div class="row align-items-center m-b-30">
              <div class="col-auto">
                <i class="fas fa-lock text-danger f-38"> </i>
              </div>
              <div class="col p-l-0">
                <h6 class="m-b-5">Passwords</h6>
                <h6 class="m-b-0 text-danger">Live Update</h6>
              </div>
            </div>
            <div class="row align-items-center text-center">
              <div class="col">
                <h6 class="m-b-0">{{ credentialData?.LastUsedPasswords }}</h6>
              </div>
              <div class="col">
                <i class="fas fa-exchange-alt text-danger f-18"></i>
              </div>
              <div class="col">
                <h6 class="m-b-0">30 Days</h6>
              </div>
            </div>
            <h6 class="pt-badge bg-light-danger">
              {{ credentialData?.Passwords }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-12">
        <div class="card proj-t-card card-border-danger">
          <div class="card-body">
            <div class="row align-items-center m-b-30">
              <div class="col-auto">
                <i class="fas fa-user-secret text-danger f-38"></i>
              </div>
              <div class="col p-l-0">
                <h6 class="m-b-5">Secrets</h6>
                <h6 class="m-b-0 text-danger">Live Update</h6>
              </div>
            </div>
            <div class="row align-items-center text-center">
              <div class="col">
                <h6 class="m-b-0">{{ credentialData?.LastUsedSecrets }}</h6>
              </div>
              <div class="col">
                <i class="fas fa-exchange-alt text-danger f-18"></i>
              </div>
              <div class="col">
                <h6 class="m-b-0">30 Days</h6>
              </div>
            </div>
            <h6 class="pt-badge bg-light-danger">
              {{ credentialData?.Secrets }}
            </h6>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-12">
        <div class="card proj-t-card card-border-danger">
          <div class="card-body">
            <div class="row align-items-center m-b-30">
              <div class="col-auto">
                <i class="fas fa-key text-danger f-38"></i>
              </div>
              <div class="col p-l-0">
                <h6 class="m-b-5">Passkeys</h6>
                <h6 class="m-b-0 text-danger">Live Update</h6>
              </div>
            </div>
            <div class="row align-items-center text-center">
              <div class="col">
                <h6 class="m-b-0">{{ credentialData?.LastUsedIdentities }}</h6>
              </div>
              <div class="col">
                <i class="fas fa-exchange-alt text-danger f-18"></i>
              </div>
              <div class="col">
                <h6 class="m-b-0">30 Days</h6>
              </div>
            </div>
            <h6 class="pt-badge bg-light-danger">
              {{ credentialData?.Identities }}
            </h6>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-12">
        <div class="card proj-t-card card-border-danger">
          <div class="card-body">
            <div class="row align-items-center m-b-30">
              <div class="col-auto">
                <i class="fas fa-clock text-danger f-38"></i>
              </div>
              <div class="col p-l-0">
                <h6 class="m-b-5">Time based codes</h6>
                <h6 class="m-b-0 text-danger">Live Update</h6>
              </div>
            </div>
            <div class="row align-items-center text-center">
              <div class="col">
                <h6 class="m-b-0">
                  {{ credentialData?.LastUsedTimeBasedCodes }}
                </h6>
              </div>
              <div class="col">
                <i class="fas fa-exchange-alt text-danger f-18"></i>
              </div>
              <div class="col">
                <h6 class="m-b-0">30 Days</h6>
              </div>
            </div>
            <h6 class="pt-badge bg-light-danger">
              {{ credentialData?.TimeBasedCodes }}
            </h6>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-4 col-md-12">
        <div class="card overflow-hidden card-border-info">
          <app-pie-chart
            [credentialRequests]="credentialData?.MonthlyCredentialRequests"
            [newCredentials]="credentialData?.NewCredentials"
          ></app-pie-chart>
        </div>
      </div>

      <div class="col-xl-4 col-md-12">
        <div class="card task-card">
          <div class="card-header">
            <h5>Events</h5>
            <a href="#!" class="b-b-primary text-primary">View Friend List</a>
          </div>
          <div class="card-body">
            <ul class="list-unstyled task-list">
              @for(actionEvent of Events; track actionEvent;){
              <li>
                <i class="task-icon {{ getEventTypeColor(actionEvent) }}"></i>
                <p class="m-b-5">
                  {{ actionEvent.EventDate }}
                </p>
                <h6 class="text-muted">{{ actionEvent.Description }}</h6>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-md-12">
        <div class="card feed-card">
          <div class="card-header">
            <h5>Connected Devices</h5>
          </div>
          <div
            class="feed-scroll simplebar-scrollable-y"
            style="height: 363px; position: relative"
            data-simplebar="init"
          >
            <div class="simplebar-wrapper" style="margin: 0px">
              <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
              </div>
              <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                  <div
                    class="simplebar-content-wrapper"
                    tabindex="0"
                    role="region"
                    aria-label="scrollable content"
                    style="height: 100%; overflow: hidden scroll"
                  >
                    <div class="simplebar-content" style="padding: 0px">
                      <div class="card-body">
                        @for(device of devices; track device;) {
                        <div class="row m-b-25 align-items-center">
                          <div class="col-auto p-r-0">
                            <i
                              class="{{
                                getIcon(device)
                              }} bg-light-primary feed-icon"
                            >
                            </i>
                          </div>
                          <div class="col">
                            <a href="#!">
                              <h6 class="m-b-5">
                                {{ device.Name }}
                                <span class="text-muted float-end f-14">
                                  {{ utils.formatDate(device.LastUsed) }}
                                </span>
                              </h6>
                            </a>
                          </div>
                        </div>

                        }
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="simplebar-placeholder"
                  style="width: 1061px; height: 556px"
                ></div>
              </div>
              <div
                class="simplebar-track simplebar-horizontal"
                style="visibility: hidden"
              >
                <div
                  class="simplebar-scrollbar"
                  style="width: 0px; display: none"
                ></div>
              </div>
              <div
                class="simplebar-track simplebar-vertical"
                style="visibility: visible"
              >
                <div
                  class="simplebar-scrollbar"
                  style="
                    height: 259px;
                    transform: translate3d(0px, 0px, 0px);
                    display: block;
                  "
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-md-12">
        <div class="card">
          <div class="card-body">
            <h6 class="text-primary mb-3">Monthly usage</h6>
            <div class="row">
              <div class="col-auto">
                <h3>{{ monthlyActivityEvents?.Downloads?.length }}</h3>
                <h6 class="d-flex">
                  <i class="feather icon-trending-down text-danger"></i>
                  <span class="mx-2">Download Requests</span>
                </h6>
                <span>
                  Measures how many files were downloaded from the cloud storage
                  in 30 days.
                </span>
              </div>
              <div class="col">
                <h3>{{ monthlyActivityEvents?.Uploads?.length }}</h3>
                <h6 class="d-flex">
                  <i class="feather icon-trending-up text-primary"></i>
                  <span class="mx-2">Upload Requests</span>
                </h6>
                <span>
                  Measures how many files were uploaded from the cloud storage
                  in 30 days.
                </span>
              </div>
            </div>
          </div>
          <div id="account-chart" style="max-height: 215px">
            @if(chartOptions != null){
            <apx-chart
              [series]="chartOptions!.series"
              [chart]="chartOptions!.chart"
              [xaxis]="chartOptions!.xaxis"
              [stroke]="chartOptions!.stroke"
              [tooltip]="chartOptions!.tooltip"
              [dataLabels]="chartOptions!.dataLabels"
              [legend]="chartOptions.legend"
            ></apx-chart>
            }
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-sm-12">
        <div class="card flat-card">
          <div class="row-table">
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-4">
                  <i class="fas fa-server text-primary mb-1"></i>
                </div>
                <div class="col-8 text-md-center">
                  <h5>{{ utils.convertToGb(storage?.Total) }} GB</h5>
                  <span>Cloud storage</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-4">
                  <i class="fas fa-database text-primary mb-1"></i>
                </div>
                <div class="col-8 text-md-center">
                  <h5>{{ utils.convertToGb(storage?.Used) }} GB</h5>
                  <span>Used Storage</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-4">
                  <i class="fas fa-chart-pie text-primary mb-1"></i>
                </div>
                <div class="col-8 text-md-center">
                  <h5>{{ utils.convertToGb(storage?.Available) }} GB</h5>
                  <span>Available Storage</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-4">
                  <i class="fas fa-cloud-upload-alt text-primary mb-1"></i>
                </div>
                <div class="col-8 text-md-center">
                  <h5>{{ storage?.TotalUploads }}</h5>
                  <span>Uploads</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body br">
              <div class="row">
                <div class="col-4">
                  <i class="fas fa-cloud-download-alt text-primary mb-1"></i>
                </div>
                <div class="col-8 text-md-center">
                  <h5>{{ storage?.TotalDownloads }}</h5>
                  <span>Downloads</span>
                </div>
              </div>
            </div>
            <div class="col-sm-6 card-body">
              <div class="row">
                <div class="col-4">
                  <i class="fas fa-file-upload text-primary mb-1"></i>
                </div>
                <div class="col-8 text-md-center">
                  <h5>{{ storage?.FilesCount }}</h5>
                  <span>Files</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex align-items-center mb-3">
                  <div
                    class="i-block"
                    data-clipboard-text="fab fa-slideshare"
                    data-bs-toggle="tooltip"
                    data-filter="fa-slideshare"
                    aria-label="fab fa-slideshare"
                    data-bs-original-title="fab fa-slideshare"
                    style="display: inline-flex"
                  >
                    <i class="fab fa-slideshare f-30"></i>
                  </div>
                  <div class="flex-grow-1 ms-2">
                    <h5 class="mb-0">Shared files with</h5>
                    <span class="text-sm text-muted"
                      >Users have limited access to files.</span
                    >
                  </div>
                </div>
                <div class="d-flex align-items-center">
                  <div class="flex-grow-1 me-2">
                    <div class="user-group">
                      <img
                        src="../assets/images/user/avatar-6.jpg"
                        alt="user-image"
                        class="avtar"
                      />
                      <img
                        src="../assets/images/user/avatar-6.jpg"
                        alt="user-image"
                        class="avtar"
                      />
                      <img
                        src="../assets/images/user/avatar-7.jpg"
                        alt="user-image"
                        class="avtar"
                      />
                      <img
                        src="../assets/images/user/avatar-8.jpg"
                        alt="user-image"
                        class="avtar"
                      />
                      <span
                        class="avtar rounded-circle bg-light-warning text-warning"
                        >+2</span
                      >
                    </div>
                  </div>
                  <a
                    href="#"
                    class="avtar avtar-s bg-primary rounded-circle text-white"
                    ><i class="ti ti-plus f-18"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
