<app-loader></app-loader>
<app-navigation></app-navigation>

<div class="pc-container">
  <div class="pc-content">
    <div class="row">
      <div class="col-xl-8 col-md-12">
        <div class="card table-card">
          <div class="card-header">
            <h5>Password List</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-borderless mb-0">
                <thead>
                  <tr>
                    <th>Email/Location</th>
                    <th>Password Lenght</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for(password of passwords; track password.Id;){

                  <tr>
                    <td>
                      <div class="column">
                        <span class="inner-text"> {{ password.Website }} </span>
                        <span class="inner-text"> {{ password.Email }} </span>
                      </div>
                    </td>
                    <td>{{ password.Password }}</td>
                    <td>{{ utils.formatDate(password.CreatedAt) }}</td>
                    <td>
                      {{ utils.formatDate(password.UpdatedAt) }}
                    </td>
                    <td>
                      <a (click)="onEditPassword(password)"
                        ><i
                          class="icon feather icon-edit f-w-600 f-16 m-r-15 text-success"
                        ></i> </a
                      ><a (click)="onDeletePassword(password.Id)"
                        ><i
                          class="feather icon-trash-2 f-w-600 f-16 text-danger"
                        ></i
                      ></a>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>New Password</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="formGroup">
              <div class="row">
                <div class="form-floating mb-0">
                  <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Email address"
                  />
                  <label for="floatingInput" class="mx-2">Email address</label>
                </div>
              </div>
              <div class="row mt-3">
                <div class="form-floating mb-0">
                  <input
                    formControlName="website"
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Email address"
                  />
                  <label for="floatingInput" class="mx-2">Website</label>
                </div>
              </div>
              <hr />

              <div class="row">
                <label for="demo-range-input" class="form-label">
                  Password Lenght
                </label>
                <input
                  formControlName="passwordLength"
                  class="form-range"
                  type="range"
                  min="16"
                  max="512"
                  id="demo-range-input"
                  (change)="onSliderChanged()"
                  [value]="passwordLength"
                />
              </div>

              <h3 class="center-text-break-all">{{ generatedPassword }}</h3>
              <div class="row mb-0 mt-3">
                <button type="button" class="btn btn-light-primary">
                  Advanced
                </button>
              </div>
              <div class="row mb-0 mt-3">
                <div class="form-switch custom-switch-v1 space-between">
                  <input
                    type="checkbox"
                    class="form-check-input input-primary"
                    id="customCheckdefh4"
                    [checked]="specialCharacters"
                    (change)="onSpecialChanged()"
                  />
                  <label class="form-check-label" for="customswitchv2-1">
                    Allow Special ("", |, !)
                  </label>
                </div>
              </div>
              <div class="row mb-0 mt-3">
                <div class="form-switch custom-switch-v1 space-between">
                  <input
                    type="checkbox"
                    class="form-check-input input-primary"
                    id="customCheckdefh4"
                    (change)="onUpperChanged()"
                    [checked]="upperCase"
                  />
                  <label class="form-check-label" for="customswitchv2-1">
                    Require Uppercase Characters
                  </label>
                </div>
              </div>

              <div class="row mb-0 mt-3">
                <div class="form-switch custom-switch-v1 space-between">
                  <input
                    type="checkbox"
                    class="form-check-input input-primary"
                    id="customCheckdefh4"
                    (change)="onDigitsChanged()"
                    [checked]="requireDigits"
                  />
                  <label class="form-check-label" for="customswitchv2-1">
                    Require Digits
                  </label>
                </div>
              </div>

              <div class="row mb-0 mt-3">
                <div class="form-switch custom-switch-v1 space-between">
                  <input
                    type="checkbox"
                    class="form-check-input input-primary"
                    id="customCheckdefh4"
                    (change)="onLowerChanged()"
                    [checked]="lowerCase"
                  />
                  <label class="form-check-label" for="customswitchv2-1">
                    Require Lowercase Characters
                  </label>
                </div>
              </div>

              <div class="row mb-0 mt-3">
                <div class="form-switch custom-switch-v1 space-between">
                  <input
                    type="checkbox"
                    class="form-check-input input-primary"
                    id="customCheckdefh4"
                    (change)="onUniqueChanged()"
                    [checked]="unique"
                  />
                  <label class="form-check-label" for="customswitchv2-1">
                    Ensure Unique Password
                  </label>
                </div>
              </div>
              <hr />
              <button
                class="btn btn-primary"
                style="width: 100%"
                type="button"
                (click)="onSave()"
              >
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
