<app-loader></app-loader>
<app-navigation></app-navigation>

<div class="pc-container">
  <div class="pc-content">
    <div class="row">
      <div class="col-md-12 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3>{{ totalItems }} GB</h3>
                <p>Free Storage</p>
              </div>
              <div class="col-auto">
                <i class="fas fa-file-upload text-primary mb-1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-xl-4">
        <div class="card card-border-info">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3>{{ totalConsumed }} GB</h3>
                <p>Consumed</p>
              </div>
              <div class="col-auto">
                <i class="fas fa-database text-primary mb-1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 col-xl-4">
        <div class="card card-border-danger">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3>{{ totalStorage }} GB</h3>
                <p>Total Storage</p>
              </div>
              <div class="col-auto">
                <i class="fas fa-chart-pie text-primary mb-1"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-default-icon">
          @for(item of lastOpenFolder.split('/'); track item;){
          <li class="breadcrumb-item active" aria-current="page">
            <a (click)="Goto(item)">{{ item }}</a>
          </li>
          }
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-xl-8">
        <div class="card bg-light">
          <div
            class="card-body"
            appFileDragNDrop
            appFileDragNDrop
            (filesChangeEmitter)="onFilesDropped($event)"
          >
            @if(loaderActive){
            <div class="center-spinner">
              <div _ngcontent-ng-c4084266675="" class="pc-loader">
                <div _ngcontent-ng-c4084266675="" class="loader-fill"></div>
              </div>
            </div>
            } @else {
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Last Update</th>
                    <th class="text-end">Size</th>
                    <th class="text-end"></th>
                  </tr>
                </thead>
                <tbody>
                  @for(storageItem of storageItems; track storageItem;) {
                  <tr
                    (dblclick)="open()"
                    (click)="select(storageItem)"
                    class="{{
                      storageItem.Name == selected ? 'row-selected' : ''
                    }}"
                  >
                    <td>
                      <div class="d-inline-block align-middle">
                        @if(storageItem.IsDirectory) {
                        <i class="fas fa-folder wid-40"></i>

                        } @else{
                        <i class="fas fa-file wid-40"></i>
                        }

                        <div class="d-inline-block">
                          <h6>{{ storageItem.Name }}</h6>
                        </div>
                      </div>
                    </td>
                    <td>Me</td>
                    <td>{{ utils.formatDate(storageItem.UpdatedAt) }}</td>
                    <td class="text-end">
                      <label class="badge bg-light-danger">
                        {{ utils.convertToGb(storageItem.Size) }}
                      </label>
                    </td>

                    <td class="text-end">
                      <button
                        type="button"
                        class="btn btn-icon btn-link-info"
                        (click)="shareItem(storageItems)"
                      >
                        <i class="fas fa-share-alt"></i>
                      </button>

                      <button
                        type="button"
                        class="btn btn-icon btn-link-info"
                        (click)="downloadItem(storageItem)"
                      >
                        <i class="fas fa-cloud-download-alt"></i>
                      </button>

                      <button
                        type="button"
                        class="btn btn-icon btn-link-info"
                        (click)="editItem(storageItem)"
                      >
                        <i class="fas fa-edit"></i>
                      </button>

                      <button
                        type="button"
                        class="btn btn-icon btn-link-info"
                        (click)="onDeleteItem(storageItem)"
                      >
                        <i class="material-icons-two-tone">delete_outline</i>
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card bg-light">
          <div class="card-body">
            <ul class="nav nav-tabs mb-3 tabOverride" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active text-uppercase center"
                  id="home-tab"
                  data-bs-toggle="tab"
                  href="#home"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  style="width: 100%"
                  >Information</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-uppercase center"
                  id="profile-tab"
                  data-bs-toggle="tab"
                  href="#profile"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  >Activity</a
                >
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
              >
                <i class="fas fa-folder center" style="font-size: 100px"></i>
                <div class="row">
                  <h6>Who has access?</h6>
                </div>
                <div class="d-flex flex-wrap gap-2">
                  @for(sharedWith of selectedItem?.Shared; track sharedWith){
                  <button
                    type="button"
                    class="btn btn-info"
                    data-bs-toggle="tooltip"
                    data-bs-html="true"
                    data-bs-original-title="<em>Tooltip</em> <u>with</u> <b>HTML</b>"
                  >
                    {{ sharedWith }}
                  </button>

                  }
                </div>
                <button
                  type="button"
                  class="btn btn-outline-info d-inline-flex my-3"
                >
                  <i class="ti ti-info-circle me-1"></i>Share
                  <div></div>
                </button>
                <hr />
                <div class="row my-3">
                  <h6>
                    Details for the
                    {{ selectedItem?.IsDirectory ? "Directory" : "File" }}
                  </h6>
                </div>

                @if(selectedItem != null && selectedItem.IsDirectory){

                <div class="row my-3">
                  <p class="mb-1">Total children:</p>
                  <p class="text-muted mb-1">10</p>
                </div>
                }

                <div class="row my-3">
                  <p class="mb-1">Size:</p>
                  <p class="text-muted mb-1">
                    {{ utils.convertToGb(selectedItem?.Size) }}
                  </p>
                </div>

                <div class="row my-3">
                  <p class="mb-1">Created at:</p>
                  <p class="text-muted mb-1">
                    {{
                      selectedItem != null
                        ? utils.formatDate(selectedItem.UpdatedAt)
                        : "--"
                    }}
                  </p>
                </div>

                <div class="row my-3">
                  <p class="mb-1">Updated at:</p>
                  <p class="text-muted mb-1">
                    {{
                      selectedItem != null
                        ? utils.formatDate(selectedItem.UpdatedAt)
                        : "--"
                    }}
                  </p>
                </div>
                <hr />
                <div class="row my-3">
                  <form [formGroup]="formGroup">
                    <div class="row">
                      <div class="form-floating mb-0">
                        <input
                          formControlName="name"
                          type="email"
                          class="form-control"
                          id="floatingInput"
                          placeholder="File Namme"
                        />
                        <label for="floatingInput" class="mx-2"
                          >File Name</label
                        >
                      </div>
                    </div>
                    <button
                      class="btn btn-primary"
                      style="width: 100%"
                      type="button"
                    >
                      Rename
                    </button>
                  </form>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
              >
                <div class="latest-update-box">
                  <div class="row p-t-20 p-b-30">
                    <div class="col-auto text-end update-meta">
                      <p class="text-muted m-b-0 d-inline-flex">08:00 AM</p>
                    </div>
                    <div class="col">
                      <a href="#!" class="d-inline-flex align-items-center">
                        <h6 class="mb-0 me-2">Uploaded Files</h6>
                        <span class="badge bg-success">Done</span>
                      </a>
                    </div>
                  </div>
                  <div class="row p-b-30">
                    <div class="col-auto text-end update-meta">
                      <p class="text-muted m-b-0 d-inline-flex">08:20 AM</p>
                    </div>
                    <div class="col">
                      <a href="#!" class="d-inline-flex align-items-center">
                        <h6 class="mb-0 me-2">Shared Files</h6>
                        <span class="badge bg-primary">Done</span>
                      </a>
                    </div>
                  </div>
                  <div class="row p-b-30">
                    <div class="col-auto text-end update-meta">
                      <p class="text-muted m-b-0 d-inline-flex">08:20 AM</p>
                    </div>
                    <div class="col">
                      <a href="#!" class="d-inline-flex align-items-center">
                        <h6 class="mb-0 me-2">Updated Files</h6>
                        <span class="badge bg-warning">Done</span>
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-auto text-end update-meta">
                      <p class="text-muted m-b-0 d-inline-flex">09:15 AM</p>
                    </div>
                    <div class="col">
                      <a href="#!" class="d-inline-flex align-items-center">
                        <h6 class="mb-0 me-2">Deleted Files</h6>
                        <span class="badge bg-danger">Done</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
