<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="../dashboard/index.html" class="b-brand text-primary">
        <!-- ========   Change your logo from here   ============ -->

        <span class="badge bg-primary rounded-pill ms-2 theme-version"
          >v0.0.1-alpha</span
        >
      </a>
    </div>
    <app-profile-expandable></app-profile-expandable>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item" data-ripple (click)="utils.NavigateTo('dashboard')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-home"></i>
            </span>
            <span class="pc-mtext">Home</span>
          </div>
        </li>
        <li class="pc-item" data-ripple (click)="utils.NavigateTo('passwords')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-lock"></i>
            </span>
            <span class="pc-mtext">Passwords</span>
          </div>
        </li>
        <li class="pc-item" (click)="utils.NavigateTo('secrets')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-user-secret"></i>
            </span>
            <span class="pc-mtext">Secrets</span>
          </div>
        </li>
        <li class="pc-item" (click)="utils.NavigateTo('identities')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-key"></i>
            </span>
            <span class="pc-mtext">Identities</span>
          </div>
        </li>
        <li class="pc-item" (click)="utils.NavigateTo('totp')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-clock"></i>
            </span>
            <span class="pc-mtext">Totp</span>
          </div>
        </li>
        <li class="pc-item" (click)="utils.NavigateTo('storage')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-database"></i>
            </span>
            <span class="pc-mtext">Storage</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="pc-header">
  <div class="header-wrapper">
    <!-- [Mobile Media Block] start -->
    <div class="me-auto pc-mob-drp">
      <ul class="list-unstyled">
        <!-- ======= Menu collapse Icon ===== -->
        <li class="pc-h-item pc-sidebar-collapse">
          <a
            class="pc-head-link ms-0"
            id="sidebar-hide"
            (click)="onNavToggled()"
          >
            <i class="ph-duotone ph-list"></i>
          </a>
        </li>
        <li class="pc-h-item pc-sidebar-popup">
          <a class="pc-head-link ms-0" id="mobile-collapse">
            <i class="ph-duotone ph-list"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- [Mobile Media Block end] -->
    <div class="ms-auto">
      <ul class="list-unstyled">
        <li class="dropdown pc-h-item">
          <a
            class="pc-head-link dropdown-toggle arrow-none me-0"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="false"
            aria-expanded="false"
          >
            <i class="ph-duotone ph-sun-dim"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
            <a href="#!" class="dropdown-item" onclick="layout_change('dark')">
              <i class="ph-duotone ph-moon"></i>
              <span>Dark</span>
            </a>
            <a href="#!" class="dropdown-item" onclick="layout_change('light')">
              <i class="ph-duotone ph-sun-dim"></i>
              <span>Light</span>
            </a>
            <a
              href="#!"
              class="dropdown-item"
              onclick="layout_change_default()"
            >
              <i class="ph-duotone ph-cpu"></i>
              <span>Default</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
<!-- [ Header ] end -->
