<!-- [ Sidebar Menu ] start -->
<nav class="pc-sidebar">
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="../dashboard/index.html" class="b-brand text-primary">
        <!-- ========   Change your logo from here   ============ -->

        <span class="badge bg-primary rounded-pill ms-2 theme-version"
          >v0.0.1-alpha</span
        >
      </a>
    </div>
    <app-profile-expandable></app-profile-expandable>
    <div class="navbar-content">
      <ul class="pc-navbar">
        <li class="pc-item" data-ripple (click)="utils.NavigateTo('dashboard')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-home"></i>
            </span>
            <span class="pc-mtext">Home</span>
          </div>
        </li>
        <li class="pc-item" data-ripple (click)="utils.NavigateTo('passwords')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-lock"></i>
            </span>
            <span class="pc-mtext">Passwords</span>
          </div>
        </li>
        <li class="pc-item" (click)="utils.NavigateTo('secrets')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-user-secret"></i>
            </span>
            <span class="pc-mtext">Secrets</span>
          </div>
        </li>
        <li class="pc-item" (click)="utils.NavigateTo('identities')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-key"></i>
            </span>
            <span class="pc-mtext">Identities</span>
          </div>
        </li>
        <li class="pc-item" (click)="utils.NavigateTo('totp')">
          <div class="pc-link">
            <span class="pc-micon">
              <i class="fas fa-clock"></i>
            </span>
            <span class="pc-mtext">Totp</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-top-nav></app-top-nav>
