<app-loader></app-loader>
<app-navigation></app-navigation>

<div class="pc-container">
  <div class="pc-content">
    <div class="row">
      <div class="col-xl-8 col-md-12">
        <div class="card table-card">
          <div class="card-header">
            <h5>Secrets List</h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover table-borderless mb-0">
                <thead>
                  <tr>
                    <th>Website/Account</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Period</th>
                    <th>Algorithm</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  @for(timePassword of timebasedCodes; track timePassword){

                  <tr>
                    <td>
                      <div class="column">
                        <span class="inner-text">
                          {{ timePassword.Website }}
                        </span>
                        <span class="inner-text">
                          {{ timePassword.Email }}
                        </span>
                      </div>
                    </td>
                    <td>{{ timePassword.Code }}</td>
                    <td>{{ timePassword.Type }}</td>
                    <td>30</td>
                    <td>{{ timePassword.Algorithm }}</td>
                    <td>{{ utils.formatDate(timePassword.CreatedAt) }}</td>
                    <td>
                      {{
                        timePassword.UpdatedAt == null
                          ? "--"
                          : utils.formatDate(timePassword.UpdatedAt)
                      }}
                    </td>
                    <td>
                      <a (click)="onEditTimePassword(timePassword)"
                        ><i
                          class="icon feather icon-edit f-w-600 f-16 m-r-15 text-success"
                        ></i></a
                      ><a (click)="onRemoveTimePassword(timePassword.Id)"
                        ><i
                          class="feather icon-trash-2 f-w-600 f-16 text-danger"
                        ></i
                      ></a>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>New Secret</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="formGroup">
              <div class="row">
                <div class="form-floating mb-0">
                  <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Email address"
                  />
                  <label for="floatingInput" class="mx-2">Email address</label>
                </div>
              </div>
              <div class="row mt-3">
                <div class="form-floating mb-0">
                  <input
                    formControlName="website"
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Email address"
                  />
                  <label for="floatingInput" class="mx-2">Issuer</label>
                </div>
              </div>
              <div class="row mt-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="floatingSelect"
                    aria-label="Floating label select example"
                    formControlName="codeType"
                  >
                    <option
                      *ngFor="let codeType of codeTypes"
                      [ngValue]="codeType"
                    >
                      {{ codeType.Name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row mt-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="floatingSelect"
                    aria-label="Floating label select example"
                    formControlName="lenght"
                  >
                    <option *ngFor="let lenght of lengths" [ngValue]="lenght">
                      {{ lenght }}
                    </option>
                  </select>
                  <label for="floatingSelect" style="margin-left: 10px">
                    Interval
                  </label>
                </div>
              </div>
              <div class="row mt-3">
                <div class="form-floating">
                  <select
                    class="form-select"
                    id="floatingSelect"
                    aria-label="Floating label select example"
                    formControlName="algorithm"
                  >
                    <option
                      *ngFor="let algorithm of algorithms"
                      [ngValue]="algorithm"
                    >
                      {{ algorithm.Name }}
                    </option>
                  </select>
                  <label for="floatingSelect" style="margin-left: 10px">
                    Algorithm
                  </label>
                </div>
              </div>

              <div class="row mt-3">
                <div class="form-floating mb-0">
                  <input
                    formControlName="secret"
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Email address"
                  />
                  <label for="floatingInput" class="mx-2">Secret</label>
                </div>
              </div>
              <hr />
              <h3 class="center-text-break-all">
                {{ activeCode ?? "--" }}
              </h3>

              <hr />

              <button
                class="btn btn-primary"
                style="width: 100%"
                type="button"
                (click)="onSubmit()"
              >
                Save Changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
