.space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center-text-break-all {
    text-align: center;
    word-break: break-all;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.full-height {
    height: 100vh;
}